In [1]:
import pandas as pd

df = pd.DataFrame({
    'country':['US','US','CN','CN','CN','US'],
    'category':['A','B','A','B','B','A'],
    'qty':[3,1,2,5,2,7],
    'price':[10,12,8,9,15,20]
})

# Group & aggregate
g = (df.groupby(['country','category'])
       .agg(total_qty=('qty','sum'),
            avg_price=('price','mean'))
       .reset_index())

# Sort and per-group top-1 by total_qty
g['rank_in_country'] = g.groupby('country')['total_qty'] \
                        .rank(method='first', ascending=False)
top1 = g[g['rank_in_country'] == 1] \
        .sort_values('country')

# Save a lightweight artifact for portfolio
top1.to_csv('result_week7_l4_groupby_top1.csv', index=False)
top1.head()





import pandas as pd
import numpy as np

df = pd.DataFrame({
    'user_id':[1,2,3,4],
    'signup_dt':['2025-01-01','2025-01-05',None,'2025-01-08'],
    'age':[27,np.nan,31,29],
    'spend':['10.5','7.0',None,'13.0']
})

# Convert dtypes
df['signup_dt'] = pd.to_datetime(df['signup_dt'], errors='coerce')  # missing becomes NaT
df['spend']     = pd.to_numeric(df['spend'], errors='coerce')       # missing becomes NaN

# Handle missing
df['age']   = df['age'].fillna(df['age'].median())   # simple imputation
df['spend'] = df['spend'].fillna(0)                  # business rule: missing spend = 0

# Derive columns
df['days_since_signup'] = (df['signup_dt'].max() - df['signup_dt']).dt.days
df['arpu'] = df['spend']  # placeholder; in real data we might divide by active users etc.

summary = df.describe(include='all')
summary.to_csv('result_week7_l5_dtypes_missing_summary.csv')
summary.head()

       user_id            signup_dt   age  spend  days_since_signup   arpu
count     4.00                    3   4.0  4.000           3.000000  4.000
mean      2.50  2025-01-04 16:00:00  29.0  7.625           3.333333  7.625
min       1.00  2025-01-01 00:00:00  27.0  0.000           0.000000  0.000
25%       1.75  2025-01-03 00:00:00  28.5  5.250           1.500000  5.250
50%       2.50  2025-01-05 00:00:00  29.0  8.750           3.000000  8.750