In [2]:
# Week 8 â€” Lesson 6: Renaming & Combining
Purpose: Practice column renaming and table combining.
Steps: rename columns; concat by rows/columns; merge with different join types; use indicator & validate.
Takeaways: prefer merge; unify key names before merging; validate to catch key multiplicity issues.

SyntaxError: invalid syntax (3232238375.py, line 2)

In [1]:
import pandas as pd

users = pd.DataFrame({'uid':[1,2,3],'name':['Alice','Bob','Cindy']})
orders_jan = pd.DataFrame({'order_id':[101,102],'uid':[1,2],'sku':['A1','B1'],'qty':[2,1]})
orders_feb = pd.DataFrame({'order_id':[201,202],'uid':[2,3],'sku':['A1','C9'],'qty':[3,2]})

# 1) unify key name
users = users.rename(columns={'uid':'user_id'})
orders_jan = orders_jan.rename(columns={'uid':'user_id'})
orders_feb = orders_feb.rename(columns={'uid':'user_id'})

# 2) stack months
orders_all = pd.concat([orders_jan, orders_feb], ignore_index=True)

# 3) left merge to get buyer name (+ sanity checks)
df = orders_all.merge(users, how='left', on='user_id', validate='many_to_one', indicator=True)

# 4) per-user summary
summary = (df.groupby(['user_id','name'])
             .agg(total_qty=('qty','sum'), order_cnt=('order_id','nunique'))
             .reset_index()
             .sort_values(['total_qty','order_cnt'], ascending=False))

# 5) export a lightweight artifact for portfolio
summary.to_csv('result_week8_merge_demo.csv', index=False)
summary.head()

   user_id   name  total_qty  order_cnt
1        2    Bob          4          2
0        1  Alice          2          1
2        3  Cindy          2          1