In [6]:
import pandas as pd

df = pd.DataFrame({
    'country':['US','US','CN','CN'],
    'qty':[1,3,2,4],
    'price':[10,12,8,9]
})

display(df.head(), df.info(), df.describe())


df[['country','qty']].head(3)                     
high_qty = df[df['qty'] >= 2]                    
mid_price = df[df['price'].between(9,12)]        
high_qty.shape, mid_price.shape


df['amount'] = df['qty'] * df['price']
agg = (df.groupby('country')
         .agg(total_amount=('amount','sum'),
              orders=('country','count'))
         .reset_index()
         .sort_values('total_amount', ascending=False))
display(agg)


left = pd.DataFrame({'customer':['A','B','C'], 'country':['US','CN','US']})
right = pd.DataFrame({'country':['US','CN'], 'tax_rate':[0.08, 0.05]})
merged = left.merge(right, on='country', how='left')
display(merged)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  4 non-null      object
 1   qty      4 non-null      int64
 2   price    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

  country  qty  price
0      US    1     10
1      US    3     12
2      CN    2      8
3      CN    4      9

None

            qty      price
count  4.000000   4.000000
mean   2.500000   9.750000
std    1.290994   1.707825
min    1.000000   8.000000
25%    1.750000   8.750000
50%    2.500000   9.500000
75%    3.250000  10.500000
max    4.000000  12.000000

  country  total_amount  orders
0      CN            52       2
1      US            46       2

  customer country  tax_rate
0        A      US      0.08
1        B      CN      0.05
2        C      US      0.08