In [2]:
import pandas as pd

df = pd.DataFrame({
    'country':['US','US','CN','CN','CN','US'],
    'category':['A','B','A','B','B','A'],
    'qty':[3,1,2,5,2,7],
    'price':[10,12,8,9,15,20]
})

# Group & aggregate
g = (df.groupby(['country','category'])
       .agg(total_qty=('qty','sum'),
            avg_price=('price','mean'))
       .reset_index())

# Sort and per-group top-1 by total_qty
g['rank_in_country'] = g.groupby('country')['total_qty'] \
                        .rank(method='first', ascending=False)
top1 = g[g['rank_in_country'] == 1] \
        .sort_values('country')

# Save a lightweight artifact for portfolio
top1.to_csv('result_week7_l4_groupby_top1.csv', index=False)
top1.head()

  country category  total_qty  avg_price  rank_in_country
1      CN        B          7       12.0              1.0
2      US        A         10       15.0              1.0